:root {
  --global-bg-color: #FAFAFA;
  --global-text-color: #1a202c;
  --global-text-color-muted: #6b7280;
  --global-accent-color: #42554F;
  --global-accent-color-hover: #33403B;
  /* --global-accent-color-secondary: #C1E973; */
  --global-accent-color-secondary: #e3e63b;
}

* { box-sizing: border-box; }
body { margin: 0; font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, Noto Sans, "Apple Color Emoji", "Segoe UI Emoji"; background: var(--global-bg-color); color: var(--global-text-color); }
a { color: inherit; text-decoration: none; }
nav { position: sticky; top: 0; padding: 0.5rem 0.5rem; display: flex; gap: 1rem; align-items: center; }
.container { max-width: 1100px; margin: 0 auto; padding: 1rem; }
.grid { display: grid; gap: 1rem; grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); }
.card { background: white; border: 1px solid #e2e8f0; border-radius: 12px; padding: 1rem; box-shadow: 0 1px 2px rgba(0,0,0,.04); }
.btn { background: #2563eb; color: white; border: none; padding: .5rem .9rem; border-radius: 8px; cursor: pointer; }
.btn:disabled { opacity: .6; }
.input { width: 100%; padding: .5rem .6rem; border-radius: 8px; border: 1px solid #cbd5e0; }
.form-row { display: flex; gap: .5rem; }
h1 { margin: .25rem 0 1rem; }
small.muted { color: var(--global-text-color-muted)}
/* hide default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}


@media (min-width: 500px) {
  body {
    background: #1a202c;
  }
  #root {
    max-width: 434px; /* iPhone 16 Pro Max width */
    height: 941px; /* iPhone 16 Pro Max height */
    margin: 2rem auto;
    border: 12px solid black;
    border-radius: 60px;
    position: relative;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow-y: scroll; /* Keep scrolling enabled */
    background: var(--global-bg-color);
    
    /* Hide scrollbar by pushing it outside the visible area */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  #root::-webkit-scrollbar {
    display: none;
  }

}