.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 1.5rem; */
  background-color: transparent;
  z-index: 1000;
  /* box-shadow: 0 -2px 10px rgba(255, 0, 0, 0.05); */
}

.nav-button {
  background: none;
  border: none;
  font-size: 1.8rem;
  color: var(--global-accent-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optional: Add a subtle effect on hover/press */
.nav-button:hover {
  color: var(--global-accent-color-hover);
}