name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          REACT_APP_API_BASE_URL: https://team-13-all-you-can-gym-backend.onrender.com/api
          PORT: 3001

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          wait-on: 'http://localhost:3001'
          wait-on-timeout: 120
        env:
          REACT_APP_API_BASE_URL: https://team-13-all-you-can-gym-backend.onrender.com/api
          PORT: 3001

  cd:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: ci
    steps:
      - name: Deploy to Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key:  ${{ secrets.RENDER_API_KEY }}